body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1054px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u41778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:344px;
}
#u41779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u41779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u41779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u41780 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:153px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u41780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:35px;
}
#u41781 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:209px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u41781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:35px;
}
#u41782 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:0px;
  width:256px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u41782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u41783 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:181px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u41783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u41784 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:152px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u41784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u41785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:87px;
  height:38px;
  display:flex;
}
#u41785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u41786 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:35px;
  width:153px;
  height:38px;
  display:flex;
}
#u41786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u41787 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:35px;
  width:209px;
  height:38px;
  display:flex;
}
#u41787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u41788 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:35px;
  width:256px;
  height:38px;
  display:flex;
}
#u41788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u41789 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:35px;
  width:181px;
  height:38px;
  display:flex;
}
#u41789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u41790 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:35px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u41790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u41791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:87px;
  height:40px;
  display:flex;
}
#u41791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u41792 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:73px;
  width:153px;
  height:40px;
  display:flex;
}
#u41792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u41793 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:73px;
  width:209px;
  height:40px;
  display:flex;
}
#u41793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u41794 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:73px;
  width:256px;
  height:40px;
  display:flex;
}
#u41794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u41795 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:73px;
  width:181px;
  height:40px;
  display:flex;
}
#u41795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u41796 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:73px;
  width:152px;
  height:40px;
  display:flex;
  color:#5CC870;
}
#u41796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:39px;
}
#u41797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:87px;
  height:39px;
  display:flex;
}
#u41797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:39px;
}
#u41798 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:113px;
  width:153px;
  height:39px;
  display:flex;
}
#u41798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:39px;
}
#u41799 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:113px;
  width:209px;
  height:39px;
  display:flex;
}
#u41799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:39px;
}
#u41800 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:113px;
  width:256px;
  height:39px;
  display:flex;
}
#u41800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:39px;
}
#u41801 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:113px;
  width:181px;
  height:39px;
  display:flex;
}
#u41801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:39px;
}
#u41802 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:113px;
  width:152px;
  height:39px;
  display:flex;
  color:#5CC870;
}
#u41802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u41803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:87px;
  height:40px;
  display:flex;
}
#u41803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u41804 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:152px;
  width:153px;
  height:40px;
  display:flex;
}
#u41804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u41805 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:152px;
  width:209px;
  height:40px;
  display:flex;
}
#u41805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u41806 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:152px;
  width:256px;
  height:40px;
  display:flex;
}
#u41806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u41807 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:152px;
  width:181px;
  height:40px;
  display:flex;
}
#u41807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u41808 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:152px;
  width:152px;
  height:40px;
  display:flex;
  color:#5CC870;
}
#u41808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u41809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:87px;
  height:38px;
  display:flex;
}
#u41809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u41810 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:192px;
  width:153px;
  height:38px;
  display:flex;
}
#u41810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u41811 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:192px;
  width:209px;
  height:38px;
  display:flex;
}
#u41811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u41812 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:192px;
  width:256px;
  height:38px;
  display:flex;
}
#u41812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u41813 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:192px;
  width:181px;
  height:38px;
  display:flex;
}
#u41813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u41814 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:192px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u41814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u41815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:87px;
  height:38px;
  display:flex;
}
#u41815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u41816 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:230px;
  width:153px;
  height:38px;
  display:flex;
}
#u41816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u41817 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:230px;
  width:209px;
  height:38px;
  display:flex;
}
#u41817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u41818 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:230px;
  width:256px;
  height:38px;
  display:flex;
}
#u41818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u41819 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:230px;
  width:181px;
  height:38px;
  display:flex;
}
#u41819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u41820 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:230px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u41820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u41821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:87px;
  height:38px;
  display:flex;
}
#u41821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u41822 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:268px;
  width:153px;
  height:38px;
  display:flex;
}
#u41822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u41823 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:268px;
  width:209px;
  height:38px;
  display:flex;
}
#u41823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u41824 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:268px;
  width:256px;
  height:38px;
  display:flex;
}
#u41824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u41825 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:268px;
  width:181px;
  height:38px;
  display:flex;
}
#u41825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u41826 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:268px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u41826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u41827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:87px;
  height:38px;
  display:flex;
}
#u41827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u41828 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:306px;
  width:153px;
  height:38px;
  display:flex;
}
#u41828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u41829 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:306px;
  width:209px;
  height:38px;
  display:flex;
}
#u41829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u41830 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:306px;
  width:256px;
  height:38px;
  display:flex;
}
#u41830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u41831 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:306px;
  width:181px;
  height:38px;
  display:flex;
}
#u41831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u41832 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:306px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u41832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
