body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25681 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:72px;
  width:1353px;
  height:120px;
}
#u25682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25683 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:50px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25684 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25685 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25686 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:40px;
  display:flex;
}
#u25686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25687 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:70px;
  height:40px;
  display:flex;
}
#u25687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25688 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25689 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25690 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:50px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25691 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:50px;
  height:40px;
  display:flex;
}
#u25691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25692 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25693 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25694 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25695 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25696 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
}
#u25696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25697 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25698 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25699 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
}
#u25699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25700 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25701 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:0px;
  width:70px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u25702 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:0px;
  width:71px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25703 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u25704 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:0px;
  width:51px;
  height:40px;
  display:flex;
}
#u25704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u25705 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:0px;
  width:51px;
  height:40px;
  display:flex;
}
#u25705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25706 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:0px;
  width:70px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25707 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:0px;
  width:70px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25709 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:50px;
  height:40px;
  display:flex;
}
#u25709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25710 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25711 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25712 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:40px;
  width:70px;
  height:40px;
  display:flex;
}
#u25712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25713 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:40px;
  width:70px;
  height:40px;
  display:flex;
}
#u25713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25714 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25715 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25716 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:40px;
  width:50px;
  height:40px;
  display:flex;
}
#u25716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25717 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:40px;
  width:50px;
  height:40px;
  display:flex;
}
#u25717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25718 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25719 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25720 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25721 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25722 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25723 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:40px;
  width:40px;
  height:40px;
  display:flex;
}
#u25723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25724 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
}
#u25724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25725 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
}
#u25725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25726 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
}
#u25726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25727 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:40px;
  width:70px;
  height:40px;
  display:flex;
}
#u25727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u25728 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:40px;
  width:71px;
  height:40px;
  display:flex;
}
#u25728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25729 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
}
#u25729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u25730 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:40px;
  width:51px;
  height:40px;
  display:flex;
}
#u25730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u25731 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:40px;
  width:51px;
  height:40px;
  display:flex;
}
#u25731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25732 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:40px;
  width:70px;
  height:40px;
  display:flex;
}
#u25732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25733 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:40px;
  width:70px;
  height:40px;
  display:flex;
}
#u25733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25735 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:80px;
  width:50px;
  height:40px;
  display:flex;
}
#u25735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25736 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25737 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25738 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:80px;
  width:70px;
  height:40px;
  display:flex;
}
#u25738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25739 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:70px;
  height:40px;
  display:flex;
}
#u25739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25740 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25741 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25742 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:80px;
  width:50px;
  height:40px;
  display:flex;
}
#u25742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25743 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:80px;
  width:50px;
  height:40px;
  display:flex;
}
#u25743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25744 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25745 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25746 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25747 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25748 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25749 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u25749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25750 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
}
#u25750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25751 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
}
#u25751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25752 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
}
#u25752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25753 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:80px;
  width:70px;
  height:40px;
  display:flex;
}
#u25753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u25754 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:80px;
  width:71px;
  height:40px;
  display:flex;
}
#u25754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u25755 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
}
#u25755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u25756 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:80px;
  width:51px;
  height:40px;
  display:flex;
}
#u25756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u25757 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:80px;
  width:51px;
  height:40px;
  display:flex;
}
#u25757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25758 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:80px;
  width:70px;
  height:40px;
  display:flex;
}
#u25758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u25759 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:80px;
  width:70px;
  height:40px;
  display:flex;
}
#u25759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25760 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:513px;
  width:1107px;
  height:78px;
}
#u25761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25762 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25763 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25764 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25765 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25766 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25767 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25768 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25769 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:0px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25771 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25772 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25773 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25774 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25775 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25776 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25777 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u25778 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:39px;
  width:123px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u25778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25779 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:26px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25780 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:215px;
  width:560px;
  height:160px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25781 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:469px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
