body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:449px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10183 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:400px;
  height:120px;
}
#u10184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
}
#u10184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10185 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
}
#u10185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10186 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
}
#u10186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10187 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
}
#u10187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10188 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u10189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10190 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u10190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10191 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u10191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10192 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u10192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10193 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
}
#u10193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u10194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10195 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u10195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10196 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u10196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10197 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u10197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10198 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
}
#u10198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10199 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:209px;
  width:417px;
  height:48px;
  display:flex;
}
#u10199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
